﻿body { 
background: green;}

table {
margin: auto;
margin-top: 5%; 
border-spacing: 0px;
border: 1px solid black;
}

td {
height: 100px; 
width: 100px; 
background: black;
border: 0px solid black;}

img {
vertical-align: bottom; 
line-height: 0; 
height: 100px; 
width: 100px; }

div {
text-align: center;
margin-top: 5%;
}

input{
width: 100px;}